<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Edit Diver</h1>
    <p><a href="/">Home</a></p>
    <form action="/diver/{{diver.id}}/edit" method="POST">
        <input type="hidden" name="id" value="{{diver.id}}">
        <input type="hidden" name="updated_at" value="{{date}}">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{diver.first_name}}">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{diver.last_name}}">
        <label for="email" >Email:</label>
        <input type="text" name="email" value="{{diver.email}}">
        <input type="submit" value="Update diver">
    </form> 
</body>
</html>