<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/course/insert" method="post">
        <h2 class="text-center">Add Course</h2>
        <div class="form-group">
            <p><a href="/">Home</a></p>
            <label for="name">Name:</label>
            <input type="text" name="name">
        </div>
        <input type="submit" value="Create Diver" class="btn btn-success">
    </form>
</body>
</html>