<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show.html</title>


</head>
<body>

    

        <h1>User:</h1>

    <h3>First Name: {{ friends.first_name }}</h3>
    <h3>Last Name: {{ friends.last_name }}</h3>
    <h3>Occupation: {{ friends.occupation }}</h3>
    <h3>Created_at: {{ friends.created_at }}</h3>
    <h3>Updated_at: {{ friends.updated_at }}</h3>


    <a href="/show" class="btn btn-primary"> Database page</a>
    


    <hr>

    
</body>
</html>