<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>


</head>
<body>

        <h1>Hello Show: USER:</h1>

        

        <h3>First Name: {{ ninjas.first_name }}</h3>
        <h3>Last Name: {{ ninjas.last_name }}</h3>
        <h3>Age: {{ ninjas.age }}</h3>
        <h3>Created_at: {{ ninjas.created_at }}</h3>
        <h3>Updated_at: {{ ninjas.updated_at }}</h3>
    
    
        <a href="/show" class="btn btn-primary"> Database page</a>
        
    
</body>
</html>